.box_move {
  position: relative;
  z-index: 999;
  will-change: transform;
  width: fit-content;
  height: fit-content;
}
.box_size{
  transition: transform 0.35s cubic-bezier(0.7, -0.5, 0.4, 1.5);
  
}
.box_size:hover {
    transform: scale(1.13);
  }